*.~*
*.dcu
*.so
*.identcache
*.local
*.map
*.obj
*.Repository
*.stat 
*.drc
*.res
*.dres
*.exe
*.rsm
*.Error
*.Log
*.queue
*.Messages
*.Threads
*.Route
*.Frames
**/__*/*.*
__*.*
*.cbk
**/*.groupproj
**/Shturman.ini
**/Shturman3.dmx
**/Shturman3.dmz
**/Shturman3Contract.pas
**/Shturman3DataModel.pas
**/Shturman3Entities.pas
**/Shturman3RpcConverter.pas
**/Shturman3StoredProcedures.pas
Shturman/Bin/x64/UpdateStatistics.csv
*.tvsconfig
Common/Utils/TestUtils/dunit.ini
*.o
Clinic/Bin/Linux64/Debug/ShturmanClinic
Shturman/ShturmanData/Win64/Debug/ShturmanDataLib.dll
Shturman/Bin/x64/ShturmanDataLib.dll
*.bpl
*.a
*.bpi
*.dcp
Shturman/ShturmanData/ShturmanDataPackageResource.rc
*.Stages
Clinic/Bin/Linux64/Release/ShturmanClinic
